python-dotenv
pandas 
numpy
scikit-learn
certifi
dill
pyaml
mlflow
fastapi
uvicorn
python-multipart
seaborn
streamlit
ipykernel

## For multi-label classification -- preserves the distribution of all labels simultaneously
iterative-stratification

# Core Deep Learning
torch
torchvision
torchaudio

# NLP & Transformers
transformers
datasets
tokenizers
accelerate

# NLP Utilities
emoji
nltk
regex

# ONNX Optimization
onnx
onnxruntime
optimum
